<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>leggo we playin</title>
    <link rel="stylesheet" type="text/css" href="css/board-all.css">
  </head>
  <body>
    <div class="board" id="chessboard"></div>



    <!------------------------- scripts ------------------------->
    <script>var exports = {};</script> 
    <script src="js/board_mechanics.js"></script>
  </body>
</html>
