<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>chess for fellas</title>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>

<body>
  <h1>some chess</h1>
  <p>Hi, you can play some chess here</p>
  <div>
    <button class="standard-button bttn" onclick="location.href='singleplayer'">SinglePlayer</button>
    <!-- does nothing -->
    <button class="standard-button bttn">MultiPlayer</button>
    <!-- opens a setings window on the right side (toplevel window) -->
    <button class="standard-button bttn">Settings</button> 
  </div>
</body>
</html>