<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>chess for fellas</title>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>

<body>
  <div class=header>
    <button class="back-button bttn" onclick="location.href='index'">Back</button>
    <h1>single lapayer big time!</h1>
  </div>

  <div class=row>
    <div class=column>
      <label for="mode">GAME MODE</label>
      <select id="mode" name="mode">
        <option value="standard">Standard</option>
        <option value="chess960">Chess960</option>
        <option value="kings_play">Kings Play</option> <!--win by capturing the king/can make moves away from shielding the king and such-->
      </select>
    </div>
    <span>
    <div class=column>
      <label for="versus">VERSUS</label>
      <select id="vs" name="versus">
        <option value="friend">Friend</option>
        <option value="ai_jj">AI: Johny Jones</option>
      </select>
    </div>
  </div>
      <button class="bttn standard-button" onclick="location.href='game'">PLAY!</button>
  <hr class=line>
  <h2>History which shall repeat</h2>


  <!------------------------- scripts ------------------------->

  <!-- this is for commonjs issue, where an error such as: 
    "Uncaught ReferenceError: exports is not defined at..." will occur.
  I tried to fix this by using umd but that screws up with functions & scripts,
  like i cant reference a function declared in .js because the function is not seen
  by the (html/web/idk what to call it) -- just gives an error of:
  "Uncaught ReferenceError: <function name> is not defined at..." THEREFORE
  using commonjs with es2017 module & using this line to cover 'exports' as a solution.
  --here! "https://stackoverflow.com/questions/43042889/typescript-referenceerror-exports-is-not-defined" -->
  <script>var exports = {};</script> 
  <script type="text/javascript" src="js/singleplayer.js"></script>
</body>
</html>
