:root {
  --primary-bg-color-light: #9CD5F2;
  --primary-bg-color: #5AB9EA;
  --secondary-bg-color:#1799DA;
  --button-color: #5680E9;
  --dark-bg: #25274D;
}

body {
  background-color: var(--primary-bg-color-light);
  min-width: 755px;
}

.board {
  display: flex;
  height: 20cm;
  justify-content: center;
  flex-flow: row wrap;
  /* margin: auto; */
}

.row {
  display: flex;
  height: 12.5%; /*12.5*8 = 100 -> 8 rows*/
  width: 20cm;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 12.5%;
  height: 100%;
  /* margin: auto; */
}

/* change to LIGHT/DARK for different color shades and what not */
.white {
  background-color: white;
}

.black {
  background-color: black;
}
